DATABASE_URL=postgresql://USER:PASSWORD@HOST/ims_control_room?sslmode=require
NEXT_PUBLIC_NEON_AUTH_URL=https://ep-snowy-voice-b3szthxr.neonauth.c-4.ap-southeast-1.aws.neon.tech/ims_control_room/auth
